*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav .img1{
    padding-left: 40px;
}
.content1{
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 40px; 
    cursor: pointer;
}
.content1 a{
    text-decoration: none;
    color: black;
}
.burger_menu{
    padding-top: 30px;
    display: none;
}
.dot{
    width: 80px;
    background-color: black;
    padding: 5px; 
    border-radius: 5px;  
}
.bar{
    padding-bottom: 10px;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 0.5rem;
    height: 0;
    top: 105px;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175,0.885,0.32,1.275);
}
.dropdown_menu.open{
    height: 330px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1150px ){
    .content1{
        gap: 30px;
    }

}
@media screen and (max-width: 1075px ){
    .content1{
        gap: 20px;
    }

}
@media screen and (max-width: 1013px ){
    .content1{
        font-size: 17px;
        gap: 10px;
    }

}
@media screen and (max-width: 960px){
    .content1{
        display: none;
    }
     .burger_menu{
        display: block;
        cursor: pointer;
    }
    .dropdown_menu{
        display: block;
    } 
    
}


.slider1{
    background-image: url(./assets/sea.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    padding: 100px;   
}
.left img{
    height: 50px;
}
.right img{
    height: 50px;
}
.content2{
    color:fuchsia;
    text-align: center;
    display: none;
}
/* hero section */
.hero_section{
    display: flex;
    padding: 80px;
}
.hero_section .content3{
    width: 50%;
    justify-content: center;
}
.content3 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: blue;
    cursor: pointer;
}
.content3 #para{
    display: none;
}
.hero_image{
    width: 50%;
    padding: 30px;
}
.social_networks{
    padding-left: 40px;
    display: flex;
    gap: 10px;
}
.social_networks img{
    height: 30px;
}
.hero_image1 img{
    height: 400px;
}
/* hero_section mediaquary */
@media screen and (max-width: 1500px){
    .hero_image1 img{
        height: 380px;
    }
}
@media screen and (max-width: 1450px){
    .hero_image1 img{
        height: 360px;
    }
}
@media screen and (max-width: 1370px){
    .hero_image1 img{
        height: 340px;
    }
}
@media screen and (max-width: 1300px){
    .hero_image1 img{
        height: 320px;
    }
}
@media screen and (max-width: 1230px){
    .hero_image1 img{
        height: 300px;      
        
    }
}

.logos h1{
    font-size: 70px;
    text-align: center;
}
.logos .logos1{
    padding:50px 200px;
}
.logos1 img{
    height: 150px;
}
.cards_section{
    padding-top: 50px;
}
.heading1 h2{
    text-align: center;
    font-weight: bold;
}
.card1{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.image1 img{
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
}
.image_con{
    display: flex;
    justify-content: space-around;
}
 .more{
    padding-top: 50px;
 }
.heading2 h3{
    font-size: 50px;
    text-align: center;
}
.hero_section2{
    padding-top: 30px;
    display: flex;
}
.image4 img{
    padding-top: 60px;
    width: 90%;
}
.content6{
    width: 50%;
    padding-right: 140px;
}
.heading3 h2{
    padding-top: 50px;
    text-align: center;
}
.card1 .img1 img{
    width: 500px; 
    border: 15px solid whitesmoke;
}
.card1 .img1 h3{
    color: skyblue;
    font-weight: bolder;
}
.card1 .img1 p{
    font-size: 12px;
}
.card2{
    display: flex;
    padding-top: 10px;
}
.card2 .img1 img{
    width: 500px; 
    border: 15px solid whitesmoke;
}
.card2 .img1 h3{
    color: skyblue;
    font-weight: bolder;
}
.card2 .img1 p{
    font-size: 12px;
}
#hidden_card{
    display: none;
}
.card3{
    display: flex;
    padding-top: 10px;
}
.card3 .img1 img{
    width: 500px; 
    border: 15px solid whitesmoke;
}
.card3 .img1 h3{
    color: skyblue;
    font-weight: bolder;
}
.card3 .img1 p{
    font-size: 12px;
}
.button{
    text-align: center;
    padding-top: 20px;
}
.button button{
    height: 50px;
    width: 200px;
    background-color: rgb(127, 255, 189);
    font-weight: bold;
    border-radius: 5px;
}
.scientific_commitee{
    padding-bottom: 30px;
}
.hero_section{
    display: flex;
    background-image: url(./assets/GprDRh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.session{
    width: 40%;
}
.heading4 h2{
    font-size: 40px;
    font-weight: bolder;
}
.heading4 p{
    font-size: 20px;
    font-weight: bold;
}
.Unorder {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.button1 button{
    height: 50px;
    width: 200px;
    background-color:white;
    font-weight: bold;
    border-radius: 5px;
}

.session1{
    width: 60%;
    background-color: black;
    padding: 100px;
}
.session1 .Register{
    text-align: center;
}
.Register h2 p{
    color: white;
}
.Register h2{
    padding-bottom: 8px;
}
.Register_Now{
    text-align: center;
    padding-top:100px ;
}
.Register_Now button{
    height: 50px;
    width: 200px;
    background-color:white;
    font-weight: bold;
    border-radius: 5px;
}
.heads{
    text-align: center;
}
.heads h2{
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-top: 20px;
}
.heads p{
    font-weight: bold;
}
.order{
    padding-top: 50px;
    padding-bottom: 30px;
}
.order p{
    padding-left: 20%;
    font-weight: bold;
}
.past_conference_report h2{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.global{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.global span{
    font-size: 20px;
}
.paragraph{
    padding: 50px 70px;
}
.global a{
    text-decoration: none;
    color: black;
}
.button2{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.view button{
    padding: 20px 10px;
    font-weight: bold;
    background-color: rgba(127, 255, 170, 0.772);
    border-radius: 5px;
}

.logo{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
footer{
    width: 100%;
    background-color: black;
    padding: 100px;
    display: flex;
    justify-content: space-between;
}
.Links{
    padding-bottom: 50px;
}
.border{
    display: flex;
    justify-content: space-between;
}
